<div class="product-panel">
  <a href={{product.viewItemURL}} target="blank">
    <h2>{{product.title}}</h2>
    <img class="product-image" src={{product.galleryURL}}>
    <p>{{product.cost}}</p>
  </a>
 <button {{action 'addToCart' product}}>Add to Cart</button>
</div>
